@font-face {
  font-family: Bold;
  src: url(../font/MPLUS1p-Bold.ttf);
}

@font-face {
  font-family: Regular;
  src: url(../font/MPLUS1p-Regular.ttf);
}

* {
 margin: 0;
 padding: 0;
}

#root {
  /* max-width: 1600px; */
  margin: 0 auto;
  text-align: center;
  background: #141111;
  font-family: Bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
}

.logo-img {
  width: 100px;
}

.basket-img {
  width: 40px;
}

.nav-menu {
  text-decoration: none;
  color: white;
  font-size: 60px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
  max-width: 1600px;
  margin: auto;
  left: 50px;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff;
  height: 24px;
  width: 24px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper, swiper-container {
  height: 100vh;
}

.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;

  max-width: 1280px;
  width: 100%;
}

.header-info .text {
  max-width: 740px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-info .product {
  position: relative;
  height: 500px;
  width: 339px;
  object-fit: cover;
}

.header-product {
  border: 3px solid #FFFFFF;
  border-radius: 20px;
}

.header-product-text {
  padding: 14px;
  font-size: 24px;
}
